{% extends "base.html" %}
{% block content %}
<section id="wishes-screen" class="section">
    <div class="letter-container">
        <div class="letter">
            <p class="letter-text">კი ვთქვი ძირითადი, მაგრამ აქაც ხო უნდა</p>
            <p class="letter-text">ხო დაააა, საზიზღარო!!! უკვე 18 წლის ხარ</p>
            <p class="letter-text">გისურვებ ბედნიერ დღეებს, ბევრ სიცილს და ისეთ ხალხს შენს გვერდით, ვინც გულწრფელად გაფასებს.</p>
            <p class="letter-text">გისურვებ სიახლეებს, რომლებიც გაგახარებს</p>
            <p class="letter-text">და მოგონებებს, რომლებიც მთელი ცხოვრება გაგყვება.</p>
            <p class="letter-text">იყავი ზუსტად ისეთი, როგორიც ხარ —</p>
            <p class="letter-text">იმიტომ რომ ეგ საკმარისია, რომ დღეს ყველაზე კარგი იყო. 🎈💖</p>
            <p class="letter-text">გილოცავ კიდევ ერთხელ შენს დღეს🌟🎂🎁</p>
        </div>
    </div>
</section>

{% endblock %}